body {
    display: flex;
    justify-content: center;
}

#container {
    width: min(90vw, 972px);
    height: min(90vh, 2106px);
    font-size: 1em;
}

#input-group {
    width: min(77vw, 832px);
}

#input-group input {
    height: 1.3em;
    width: 4em;
    font-size: 0.75em;
    float: right;
}

button {
    height: min(5vh, 117px);
    font-size: 0.75em;
}
